<div class="wrapper">
    <h1>Leaflet NPM</h1>
    <p>Integrated with rails 6.1</p>
    <div id="map"></div>
    <div class="menu">
        <%= link_to "Single Marker", root_path %>
        <%= link_to "Multiple Markers", markers_path %>
    </div>
</div>